*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
 }
.kv{
    background-image: url(../images/Group\ 183.png);
    width: 100%;
    aspect-ratio: 1440 / 842;
    background-size: cover;
    background-position: center;
    position: relative;
}
.kv_container{
    max-width: 1440px;
}
.stocksun_logo{
    position: absolute;
    top: 1.715%;
    left: 2.82%;
    width: 12.96vw;
    height: 5.77%;
}
.kv_center{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: clamp(72px, 6.94vw, 100px);
}
.subtitle{
    color: #FFFFFF;
    font-size:clamp(16px, 1.944vw, 28px);
    font-weight: bold;
    padding-bottom: clamp(26px, 3.03vw, 43.71px);
}
.summit_logo{
    width: 39.03vw;
    padding-bottom: clamp(11px, 0.97vw, 12px);
}
.summit_sub_logo{
    display: none;
}
.time_logo{
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-style: italic;
    
    font-size: clamp(24px, 2.91vw, 43.73px);
}
.sat{
    font-size: 0.8em;
}
.location{
    color: #FFFFFF;
    font-size:clamp(16px, 2.03vw, 29.19px);
    font-weight: bold;
    padding-bottom: clamp(24px, 2.91vw, 42px);
}
.line_button{
    width: 29.17vw;
    cursor: pointer;
}
.side_button_image{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: clamp(56px, 4.44vw, 65px); 
    height: auto;
    z-index: 1000;
    cursor: pointer;
}
.side_button_sp_image{
    display: none;
}
.section_1_2{
    background-image: url(../images/Group\ 185.png);
    width: 100%;
    aspect-ratio: 1440 / 1465;
    background-size: cover;
    background-position: center;
}
.section_1{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.sectiontitle{
    padding-top: clamp(30px, 2.63vw, 38px);
    padding-bottom: clamp(10px, 1.11vw, 16px);
    font-size: clamp(26px, 4.17vw, 60px);
    font-family: "Roboto", sans-serif;
    color: #81D7FC;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
}
.sectionsub_title{
    font-size: clamp(14px, 1.25vw, 18px);
    color: #444545;
    font-weight: 700;
    letter-spacing: 0%;
    padding-bottom:clamp(30px, 4.17vw, 60px);  /* 60px */
}
.sectionsub_title::before,
.sectionsub_title::after {
  content: "";
  display: inline-block;
  width: clamp(20px, 2.8vw, 30px);        /* 横棒の長さ */
  height: 1px;        /* 横棒の太さ */
  background-color: #444545;
  vertical-align: 40%;
  margin-right: clamp(14px, 1.39vw, 21px);
  margin-left: clamp(8.33px, 0.69vw, 11px);
}
.section_1_text{
    font-size: clamp(18px, 1.52vw, 22px);
    color: #444545;
    font-weight: 700;
    line-height: 45px;
    padding-bottom: 4%;
}
.section_1_description{
    width: clamp(295px, 66.67vw, 960px);
    font-size: clamp(16px, 1.25vw, 18px);
    color: #444545;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    margin: 0 auto;
}
.sp_section1_text{
    display: none;
}
@media (max-width: 767px){
    .kv{
        background-image: url(../images/sp/Group\ 184.png);
        width: 100%;
        aspect-ratio: 390 / 462;
    }
    .stocksun_logo{
        position: absolute;
        width: 19.64vw;
        height: 4.31%;
        top: 2.81%;
        left: 3.08vw;
    }
    .summit_logo{
        width: 77.44vw;
    }
    .summit_sub_logo{
        display: flex;
        justify-content: center; 
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        padding-bottom: clamp(11px, 0.97vw, 12px);
    }
    .summit_sub_text{
        font-weight: 500;
        font-style: italic;
        font-size: clamp(18.9px, 1.25vw, 20px);
        margin-right: 12px;
    }
    .summit_sub_text2{
        font-weight: 400;
        font-size: 32px;
    }
    .location{
        font-size: 4.1vw;
    }
    .line_button,
    .section_1_text,
    .section_1_description {
        display: none;
    }
    

    .section_1_2{
        background-image: url(../images/sp/Group\ 186.png);
        margin-top: -16px;
    }
    .sectiontitle{
        padding-top: clamp(48px, 3.3vw, 50px);
    }
    .sp_section1_text{
        display: block;
    }
}
@media (max-width: 430px){
    .side_button_image{
        display: none;
    }
    .side_button_sp_image{
        display: block;
        position: fixed;
        bottom: 0;     /* 画面下からの距離（調整可） */
        left: 50%;        /* 中央寄せのため */
        transform: translateX(-50%); /* 中央にするための補正 */
        width: 100vw;     /* サイズはお好みで */
        height: auto;
        z-index: 1000;
    }
}