body{
    padding-bottom: 90vh;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
 }
.kv{
    background-image: url(../images/Group\ 183.png);
    width: 100%;
    aspect-ratio: 1440 / 842;
    background-size: cover;
    background-position: center;
    position: relative;
}
.kv_container{
    max-width: 1440px;
}
.stocksun_logo{
    position: absolute;
    top: 1.715%;
    left: 2.82%;
    width: 12.96vw;
    height: 5.77%;
}
.kv_center{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: clamp(72px, 6.94vw, 100px);
}
.subtitle{
    color: #FFFFFF;
    font-size:clamp(16px, 1.944vw, 28px);
    font-weight: bold;
    padding-bottom: clamp(26px, 3.03vw, 43.71px);
}
.summit_logo{
    width: 39.03vw;
    padding-bottom: clamp(11px, 0.97vw, 12px);
}
.summit_sub_logo{
    display: none;
}
.time_logo{
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0px 0.91px 3.18px #000C4D;
    font-size: clamp(24px, 2.91vw, 43.73px);
}
.sat{
    text-shadow: 0px 0.91px 3.18px #000C4D;
    font-size: 0.8em;
}
.location{
    color: #FFFFFF;
    font-size:clamp(16px, 2.03vw, 29.19px);
    font-weight: bold;
    text-shadow: 0px 0.91px 3.18px #000C4D;
    padding-bottom: clamp(24px, 2.91vw, 42px);
}
.line_button{
    width: 29.17vw;
    cursor: pointer;
}
.side_button_image{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: clamp(56px, 4.44vw, 65px); 
    height: auto;
    z-index: 1000;
    cursor: pointer;
}
.side_button_sp_image{
    display: none;
}
.section_1_2{
    background-image: url(../images/Group\ 185.png);
    width: 100%;
    background-size: 100%;
    background-position: center -20px;
    background-repeat: no-repeat;
    margin-bottom: 45px;
}
.section_1,
.section_2,
.section_3,
.section_4,
.section_5,
.section_6,
.section_7{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.sectiontitle{
    padding-top: clamp(30px, 2.63vw, 38px);
    padding-bottom: clamp(10px, 1.11vw, 16px);
    font-size: clamp(26px, 4.17vw, 60px);
    font-family: "Roboto", sans-serif;
    color: #81D7FC;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
}
.sectionsub_title{
    font-size: clamp(14px, 1.25vw, 18px);
    color: #444545;
    font-weight: 700;
    padding-bottom:clamp(24px, 4.17vw, 60px);  /* 60px */
}
.sectionsub_title::before,
.sectionsub_title::after {
  content: "";
  display: inline-block;
  width: clamp(20px, 2.8vw, 30px);        /* 横棒の長さ */
  height: 1px;        /* 横棒の太さ */
  background-color: #444545;
  vertical-align: 32%;
  margin-right: 1.39vw;
  margin-left: 1.25vw;
}
.section_1_text{
    font-size: clamp(18px, 1.52vw, 22px);
    color: #444545;
    font-weight: 700;
    line-height: 45px;
    padding-bottom: 4%;
}
.section_1_description{
    width: clamp(295px, 66.67vw, 960px);
    font-size: clamp(16px, 1.25vw, 18px);
    color: #444545;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 160px;
}
.sp_section1_text{
    display: none;
}
.section_2 h1.sectiontitle{
    padding-top: 0;
}
.section_2 h2.sectionsub_title::before,
.section_2 h2.sectionsub_title::after{
    margin-right: 2.5vw;
    margin-left: 2.1vw;
}
.info_block{
    text-align: left;
    width: clamp(600px, 66.67vw, 960px);
    margin: 0 auto;
}
.info_item{
    display: flex;
    font-size:clamp(14px, 1.52vw, 22px) ;
    font-weight: 700;
    line-height: 40px;
    padding: 35px 0;
    align-items: center;
    border-bottom:  1px dashed #C4C4C4;
}
.info_item:nth-of-type(5){
    border-bottom:  0;
    margin-top: 5px;
}
.info_item:first-of-type{
    padding-top: 0;
}
.info_label{
    margin-right: 21px;
    color: #FDD35C;
    border: 2px solid #FDD35C;      /* 枠線 */
    border-radius: 999px; 
    padding: 6px 16px;
    width: 138px;
    text-align: center;
}
.info_item:nth-of-type(3) .info_label,
.info_item:nth-of-type(5) .info_label {
  align-self: flex-start;
}

.info_content{
    line-height: 34px;
}
.sp_info_content{
    display: none;
}
.info_item:nth-of-type(5) .info_content{
    display: flex;
}
.access_title{
    line-height: 41px;
}
.access{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 5px;
    margin-right: 7px;
}
.access::before {
    content: "●";
    color:#FDD35C;     /* ポチとテキストの間の余白 */
    font-size: 0.5em;
}
.access .line {
    display: inline-block;
    padding-left: 0.7em; /* ← インデント */
}
.map_container img {
    max-width: 100%;
    height: auto;
}
.sp_map_container{
    display: none;
}
.section_3_contener{
    background-color: #FFF6DE;
    width: 100%;
    height: auto;
}
.section_3 h1.sectiontitle{
    padding-top: clamp(40px, 5.56vw, 80px);
    color: #FDD35C;
}
.section_3_main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.05vw;
    margin: 0 10px;
}
.main_conteiner{
    border: 3px solid #FDD35C;
    border-radius: 10px;
    overflow: hidden;
    width: clamp(336px, 29.17vw, 420px);
}
.main_title{
    background-color: #FDD35C;
    color: #FFFFFF;
    font-weight: 700;
    font-size: clamp(18px, 1.67vw, 24px);
    line-height: clamp(40px, 3.33vw, 48px);
}
.main_box{
    background-color: #FFFFFF;
}
.main_text1{
    font-weight: 500;
    font-size: clamp(10.5px, 0.97vw, 14px);
    line-height: clamp(8px, 1.39vw, 20px);
    padding-top: clamp(10px, 0.97vw, 14px);
    margin-bottom: -5px;
    margin-right: 12px;
}
.sec3_line{
    width: clamp(180px, 16.11vw, 232px);
}
.main_text2{
    font-weight: 700;
    font-size: clamp(21px, 1.94vw, 28px);
    color: #FDD35C;
    line-height: 100%;
    padding-bottom: clamp(15px, 1.39vw, 20px);
}
.quantity{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: clamp(37px, 3.33vw, 48px);
    transform: scaleX(0.9); /* 横を90%に縮める */
    display: inline-block; 
}
.sec3_img{
    width: clamp(262px, 23.61vw, 340px);
    padding: 0 40px 16px 40px;
}
.section_3 img.line_button{
    padding-bottom: 5.56vw;
}
.section_4 h1.sectiontitle{
    padding-top: clamp(40px, 3.47vw, 50px);
    color: #FDD35C;
}
.section_4_contener {
    position: relative;
    z-index: 0; /* 疑似要素より前に出す */
    padding-bottom: 32px;
}
.section_4_contener::before,
.section_4_contener::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: clamp(10px, 3.47vw, 50px);
    background-color: #FDD35C; /* ← ラインの色は自由に変更可能 */
    z-index: -1; /* 背景に回す */
}
.section_4_contener::before {
    left: 0;
}
.section_4_contener::after {
    right: 0;
}
.section_4 h2.sectionsub_title{
    padding-bottom: 36px; 
}
.company_box{
    display: flex;
    justify-content: center;
    padding-bottom: 1.94vw;
    
}
.company_box:nth-of-type(3) {
    padding-bottom: 1vw;
}
.sec4_img_box{
    width:clamp(180px, 18.06vw, 280px);
    display: grid;
    place-items: center;
    margin-right: 2.22vw;
}
.company1_img{
    width: clamp(73.5px, 7.63vw, 110px);
    aspect-ratio: 110 / 30;
}
.company2_img{
    width: clamp(154px, 15.56vw, 224px);
    aspect-ratio: 224 / 19;
}
.company3_img{
    width: clamp(178px, 18.61vw, 268px);
    aspect-ratio: 268 / 30;
}
.company4_img{
    width: 124px;
    aspect-ratio: 124 / 57;
}
.company5_img{
    width: 6.94vw;
    aspect-ratio: 103 / 42;
    margin: 10px 0 0 24px;
}
.company_about_box {
    text-align: left;
}
.oplan_link {
    display: block;        /* ← ブロック要素にしておくと確実 */
    margin: 0;             /* ← 中央揃え系の影響除去 */
    color: #000000;
    text-decoration: underline;
    padding-left: 0.7em;
}
.company_about{
    width: clamp(340px, 46.6vw, 670px);
    font-weight: 500;
    font-size: clamp(14px, 1.11vw, 16px);
    line-height: 150%;
}

.link_box{
    display: flex;
    padding-top: 5px;
    align-items: baseline;
}
.company4a_img{
    width: clamp(77px, 6.53vw, 95px);
    aspect-ratio: 95 / 21;
}
.colon{
    padding: 0 10px;
}
.sucsak_link{
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}
.section_5_contener{
    background-image: url(../images/Group\ 192.png);
    width: 100%;
    background-size: 100%;
    background-position: center -20px;
    background-repeat: no-repeat;
    margin-bottom: 5.1vw;
}
.section_5 h1.sectiontitle{
    padding-top: 1.67vw;
}
.section_5 h2.sectionsub_title::before,
.section_5 h2.sectionsub_title::after{
    margin-right: 3.89vw;
    margin-left: 3.3vw;
}
.company_list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 2.22vw;
    margin-bottom: 2vw;
    gap: 145px;
}
.company_list .col {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 220px;
    text-align: left;
    color: #444545;
    font-weight: 500;
    font-size: 1.39vw;
    line-height: 160%;
}
.note{
    color: #444545;
    font-weight: 500;
    font-size: 1.39vw;
    text-align: right;
}
.box_container{
    display: none;
}

.section_6_contener {
    position: relative;
    width: 100%;
    padding-bottom: 184px;
    background-image: url("../images/sec6/background_4.png");
    background-size: cover;         /* 幅100%にフィット */
    background-position: left top; /* 必要に応じて調整（元が top: -20px なら） */
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
  }
  
  
.section_6 h1.sectiontitle{
    padding-top: clamp(40px, 6.25vw, 90px);
}
.section_6 h2.sectionsub_title{
    color: #FFFFFF;
}
.section_6 h2.sectionsub_title::before,
.section_6 h2.sectionsub_title::after{
    background-color: #FFFFFF;
}
/* グリッドレイアウト：横3×縦4（12個） */
.profile_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6vw 2.22vw;
    margin: 0 5px;
}
  
  /* カード全体の枠 */
.profile_card {
    position: relative;
    background-color: #F1FBFF99;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 254px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.profile_card:nth-of-type(12) {
    position: relative;
    background-color: #F1FBFF99;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 192px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.profile_img_wrap {
    position: relative;
    display: inline-block;
    overflow: visible;
}
.profile_img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
    margin-top: 0.83vw;
}

.profile_name {
    font-weight: 700;
    color: #444545;
    background-color: #ffffff;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    width: clamp(77px, 8.33vw, 120px);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(14px, 1.11vw, 16px);
    white-space: nowrap;
    letter-spacing: 0.05rem;
}
.multiple_profile_wrap{
    position: relative;
    display: inline-block;
    overflow: visible;
}
.multiple_profile_img_wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0; /* gapはゼロにして重ねる */
    margin-bottom: 16px;
}
.multiple_profile_img{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    margin-top: 42px;
    margin-right: -10px;
    margin-left: 0;
}
.two_profile_img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    margin: 32px 6px 0;
}
.multi_profile_name{
    display: flex;
    align-items: center; 
    font-size: clamp(10px, 1.11vw, 16px);
    justify-content: center;
    flex-wrap: wrap; /* レスポンシブ時の安全対策 */
    font-weight: 700;
    color: #444545;
    background-color: #ffffff;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    width: clamp(182px, 18.89vw, 272px);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.two_profile_name{
    width: clamp(158px, 16.67vw, 240px);
    font-size: clamp(14px, 1.11vw, 16px);
    flex-wrap: wrap; /* レスポンシブ時の安全対策 */
    font-weight: 700;
    color: #444545;
    background-color: #ffffff;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}
.mc_profile_name{
    width: clamp(175px, 16.67vw, 240px);
    font-size: clamp(14px, 1.11vw, 16px);
    flex-wrap: wrap; /* レスポンシブ時の安全対策 */
    font-weight: 700;
    color: #444545;
    background-color: #ffffff;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.name_left{
    font-size: clamp(8px, 0.83vw, 12px);
    padding-left: clamp(0, 0.69vw, 10px);
    line-height: 1.1;
}
.name_left .line1{
    text-align: center;
}
.name_right {
    line-height: 1.1;
    white-space: nowrap;
    padding: 2px 0; 
}
.name_space{
    padding: 0 clamp(6px, 0.56vw,8px);
}
.name_endspace{
    padding-right: clamp(0, 0.69vw, 10px);
}
.name_fstspace{
    padding-left: 0.69vw;
}
  /* 説明文 */
.profile_description {
    font-size: clamp(16px, 1.39vw, 20px);
    color: #444545;
    font-weight: 700;
    text-align: left;
    margin: 36px 14px 0;
    letter-spacing: 0.1rem;
    line-height: 125%;
}
.profile_card:nth-of-type(2) .profile_description,
.profile_card:nth-of-type(4) .profile_description,
.profile_card:nth-of-type(7) .profile_description,
.profile_card:nth-of-type(8) .profile_description,
.profile_card:nth-of-type(9) .profile_description{
    margin-top: 13px;
}
.profile_card:nth-of-type(3) .profile_description,
.profile_card:nth-of-type(5) .profile_description,
.profile_card:nth-of-type(6) .profile_description,
.profile_card:nth-of-type(10) .profile_description,
.profile_card:nth-of-type(11) .profile_description{
    margin-top: 25px;
}
.profile_card:nth-of-type(9) .profile_description{
    margin-right: 10px;
}
  /* 斜め左上に時間タグ */
.time_tag {
    position: absolute;
    top: 5px;
    left: -12px;
    background-image: url(../images/sec6/Group\ 219.png);
    background-size: contain;
    background-repeat: no-repeat;        /* 画像をタグ全体にフィットさせる */
    background-position: center; 
    text-align: center;
    color: #444545;
    font-size: clamp(14px, 1.11vw, 16px);
    font-weight: 700;
    width: clamp(83px, 6vw, 88px);
    padding: 0 0 4px 8px;
    letter-spacing: 0.05rem;
}
.readmore_toggle{
    display: none;
}

.section_7_contener {
    background-image: 
        url('../images/Polygon 6.png'), 
        url('../images/Polygon 5.png'), 
        url('../images/Polygon 5.png');
    background-repeat: no-repeat;
    background-position: 
        90% 2.65%, 
        99% 25%, 
        -25px 58%;
    background-size: 
        200px, 
        65px, 
        135px;
    width: 100%;
}
.section_7 h1.sectiontitle{
    padding-top: clamp(28px, 6.94vw, 100px);
    color: #FDD35C;
}
.sec7_main{
    width: clamp(308px, 52.7vw, 760px);
    margin: 0 auto;
    padding-bottom: 100px;
}
.question_contener{
    margin-bottom: clamp(31px, 3.33vw, 48px);
}
.sec7_text{
    display: flex;
    gap: 10px;
    margin-bottom: clamp(13px, 1.11vw, 16px); 
}
.question_logo,
.answer_logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: clamp(16px, 1.25vw, 18px);
    line-height: 33px; 
    color: #FFFFFF;                /* 文字色 */
    background-color: #00A8F0;     /* 背景色 */
    width: 33px;
    height: 33px;
    border-radius: 50%;           /* 丸くする */
    text-align: center;
    display: inline-block;        /* 中央揃えに必要 */
    flex-shrink: 0;  
}
.question_logo {
    background-color: #00A8F0; 
}
  
.answer_logo {
    background-color: #FDD35C; 
}
  
  
.question,
.answer{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: clamp(16px, 1.25vw, 18px);
    line-height: 150%;
    color: #000000; /* テキスト色調整可 */
    width: auto;
}
.sec7_text a{
    text-decoration: none;
    cursor: pointer;
}
.site_footer{
    background-color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
}
.footer_contener{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.footer_top {
    height: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #FFFFFF; /* 区切りライン */
}
.footer_contact_btn{
    text-decoration: none;
    color: #FFFFFF;
    border:1.63px solid #FFFFFF;
    padding: 10px 44px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 999px;
    font-size: clamp(16px, 1.4vw, 22px);
    letter-spacing: 0.1rem;
}
.footer_bottom {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
  
.footer_logo {
    width: clamp(120px, 15vw, 220px);
    height: auto;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.footer_text {
    font-size: clamp(9px, 0.97vw, 14px);
    color: #FFFFFF;
}
  
@media (max-width: 1420px){
   .company_list{
        justify-content: center;
   } 
}
@media (max-width: 900px){
    .multiple_profile_img{
        width: 75px;
        height: 75px;
    }

}
@media (max-width: 767px){
    body{
        padding-bottom: 120px;
    }
    .kv{
        background-image: url(../images/sp/Group\ 184.png);
        width: 100%;
        aspect-ratio: 390 / 462;
    }
    .stocksun_logo{
        position: absolute;
        width: 19.64vw;
        height: 4.31%;
        top: 2.81%;
        left: 3.08vw;
    }
    .summit_logo{
        width: 77.44vw;
    }
    .summit_sub_logo{
        display: flex;
        justify-content: center; 
        padding-bottom: 20px;
    }
    .summit_sub_text{
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
        font-size: clamp(18.9px, 1.25vw, 20px);
        margin-right: 12px;
    }
    .section_1_2{
        background-image: none;
        margin-top: -6.15vw;
    }
    .section_1{
        background-image: url(../images/sp/Group\ 186.png);
        width: 100%;
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
    }
    .sectiontitle{
        padding-top: clamp(52px, 3.89vw, 56px);
    }
    .sp_section1_text{
        display: block;
        width: 295px;
        margin: 0 auto;
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 37px;
        padding-bottom: 35px;
    }
    .info_block{
        width: 347px;
    }
    .info_item:nth-of-type(-n+4) .info_content,
    .map_container{
        display: none;
    }
    .sp_info_content,
    .sp_map_container{
        display: block;
    }
    .info_block{
        margin-bottom: -5px;
    }
    .info_item{
        line-height: 24px;
        padding: 10px 0;
    }
    .info_item:nth-of-type(5) .info_label{
        margin: 3px;
    }
    .info_label{
        margin-right: 14px;
        padding: 2px 0;
        flex: 0 0 105px;
        align-self: flex-start;
    }
    .sp_info_content{
        white-space: nowrap; 
    }
    .access_title{
        margin-bottom: -6px;
    }
    .access{
        margin-right: 0;
    }
    .info_item:nth-of-type(5){
        margin-top: 0;
    }
    .section_3 h2.sectionsub_title::before,
    .section_3 h2.sectionsub_title::after,
    .section_4 h2.sectionsub_title::before,
    .section_4 h2.sectionsub_title::after{
        margin-right: 32px;
        margin-left: 30px;
    }
    .section_6 h2.sectionsub_title::before,
    .section_6 h2.sectionsub_title::after{
        margin-right: 16px;
        margin-left: 16px;
    }
    .section_7 h2.sectionsub_title::before,
    .section_7 h2.sectionsub_title::after{
        margin-right: 32px;
        margin-left: 30px;
    }
    .section_3_main{
        display: block;
        justify-items: center;
        padding-bottom: 24px;
    }
    .main_conteiner{
        margin-bottom: 24px;
    }
    .main_text1{
        margin-bottom: 0;
    }
    .company_box{
        flex-direction: column;
        align-items: center;
        padding-bottom: 10vw;
    }
    .sec4_img_box{
        padding-bottom: 10px;
        margin: 0;
    }
    .company_box:nth-of-type(4) .sec4_img_box{
        padding: 0;
    }
    .company_about{
        text-align: left;
    }
    .link_box{
        justify-content: center;
    }
    .section_5_contener{
        background-image: url(../images/sp/Group\ 193.png);
        background-position: center 20px;
        margin-bottom: 44px;
    }
    .section_5 h1.sectiontitle{
        padding-top: 40px;
    }
    .box_container {
        display: grid;
        grid-template-columns: repeat(2, 129px); /* 2列、幅100pxずつ */
        grid-auto-rows: 38px;                   /* 高さ100pxずつ */
        gap: 22px;                                /* ボックス間の余白 */
        justify-content: center;                 /* 中央寄せ */
        margin: 5px 0;
    }   
    .box {
        background-color: #D9D9D9;
    }

    .section_6_contener{
        padding-bottom: 54px;
    }

    .profile_grid {
        justify-items: center;
        grid-template-columns: 1fr;   /* ← 横1列 */
        gap: 10px 0;
        margin: 5px 20px;                 /* ← 縦方向だけに間隔をあける */
    }
    .profile_card{
        display: flex;
        flex-direction: row;
        width: 354px;
        height: 103px;
        justify-content: space-around;
        position: relative;
    } 
    .profile_description {
        order: 1;
        width: 230px;
        margin-left: 5px;
        margin-top: 52px;
        letter-spacing: 0.09rem;
        line-height: 110%;
    }
    .profile_img_wrap,
    .multiple_profile_wrap {
        order: 2;
        margin-right: 10px;
    }
    .profile_img{
        width: 80px;
        height: 80px;
        margin: 5px 5px 0 0;
    }
    .profile_name{
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
        padding: 0 4px;
    }
    .time_tag{
        left: -7px;
        padding: 2px 0 8px 8px;
        
    }
    .profile_card:nth-of-type(12) .time_tag{
        text-align: center;
     }
    .profile_card:nth-of-type(2) .profile_description{
        margin-top: 43px;
    }
    .profile_card:nth-of-type(4) .profile_description,
    .profile_card:nth-of-type(5) .profile_description,
    .profile_card:nth-of-type(8) .profile_description{
        margin-top: 48px;
    }
    .profile_card:nth-of-type(3) .profile_description,
    .profile_card:nth-of-type(6) .profile_description{
        margin-top: 48px;
        width: 220px;
    }
    .profile_card:nth-of-type(7) .profile_description{
        margin-top: 48px;
        width: 135px;
    }
    .profile_card:nth-of-type(9) .profile_description{
        margin: 36px 0 0 10px;
        width: 170px;
    }
    .profile_card:nth-of-type(10) .profile_description,
    .profile_card:nth-of-type(11) .profile_description{
        margin-top: 43px;
        width: 220px;
    }
    .profile_card:nth-of-type(7) .multiple_profile_img_wrap{
        margin-right: 10px;
    }
    .profile_card:nth-of-type(9) .multiple_profile_img_wrap{
       gap: 8px;
    }
    .profile_card:nth-of-type(12){
        width: 354px;
        height: 103px;
    }
    .profile_card:nth-of-type(12) .multiple_profile_img_wrap{
        gap: 8px;
     }
    .multiple_profile_img{
        width: 66px;
        height: 66px;
        margin-top: 18px;
    }
    .multi_profile_name{
        bottom: 12px;
    }
    .two_profile_img{
        width: 72px;
        height: 72px;
        margin: 12px 0 0;
    }
    .two_profile_name{
        bottom: 8px;
    }
    .mc_profile_name{
        bottom: 10px;
    }
    .profile_grid .profile_card:nth-child(n+4) {
        display: none;
    }
      
    .profile_grid.open .profile_card {
        display: flex; /* 全部表示 */
    }
    .profile_card:nth-child(3)::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
        pointer-events: none;
        z-index: 1;
    }
      
      /* open状態のときは非表示に */
    .profile_grid.open .profile_card:nth-child(3)::after {
        display: none;
    }
      
    .readmore_toggle {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: italic;
        font-size: 18px;
        line-height: 1;
        text-align: center;
        
        color: #FFFFFF;   
        background-color: transparent;           /* 文字色（必要なら変更OK） */
        border: 1px solid #FFFFFF;   /* 必要な場合：囲む線 */
        padding: 4px 14px;
        margin-top: 5px;
        cursor: pointer;
        
        border-radius: 0px;         /* 四角く */
        display: inline-block;
    }
    .section_7_contener {
        background-image: none;
    }
    .sec7_main{
        padding-bottom: 90px;
    }
    .question_contener:nth-of-type(3){
        display: none;
    }
    .question_logo,
    .answer_logo {
        width: 26px;
        height: 26px;
        line-height: 26px; 
    }
    .footer_top{
        height: 86px;
    }
    .footer_contact_btn{
        padding: 6px 44px;
        margin-top: 0;
        letter-spacing: 0;
    }
    .footer_bottom{
        height: 72px;
        gap: 0;
    }
    .footer_logo{
        margin-right: 10px;
    }
    .footer_text{
        margin: 0 4px 5px
    }

        



    .line_button,
    .section_1_text,
    .section_1_description,
    .oplan_link,
    .company_box:nth-of-type(5),
    .company_list,
    .note{
        display: none;
    }



}
@media (max-width: 430px){
    .side_button_image{
        display: none;
    }
    .side_button_sp_image{
        display: block;
        position: fixed;
        bottom: 0;     /* 画面下からの距離（調整可） */
        left: 50%;        /* 中央寄せのため */
        transform: translateX(-50%); /* 中央にするための補正 */
        width: 100vw;     /* サイズはお好みで */
        height: auto;
        z-index: 1000;
    }
}

@media (max-width: 380px){
    .sp_map_image{
        width: 80vw;
        margin: 0 30px;
    }
    .company_about{
        width: 90vw;
    }
    .profile_grid{
        justify-items: start;
    }
    .profile_card,
    .profile_card:nth-of-type(12){
        width: 90vw;
    }
}